<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>Dog Home</title>
</head>
<body>
	<div class="container">

		<h2>Add New Trainer</h2>
		<form th:action="trainerAdded">
			<input type="text" name="trainerId" placeholder="Enter Trainer Id"><br>
			<br> <input type="text" name="trainerName" placeholder="Enter name"><br>

			<br> <input type="text" name="trainerAddress" placeholder="Enter Address"><br><br><br>
			<button type="submit">Add New Trainer</button>

		</form>
	</div>


</body>
</html>